#playButton {
    -fx-border-color: #D3D3D3;
    -fx-background-color: #1d1d1d;
    -fx-font: 14px "Arial";
    -fx-text-fill: #d8d8d8;
}
#rewindButton,#forwardButton,#defaultButton {
    -fx-border-color: #D3D3D3;
    -fx-background-color: #1d1d1d;
    -fx-font: 12px "Arial";
    -fx-text-fill: #d8d8d8;
}
#closeButton,#minimizeButton,#fullscreenButton, .menu, .menu-item {
    -fx-background-color: #1d1d1d;
    -fx-font: 12px "Arial";
    -fx-text-fill: #d8d8d8;
}
#closeButton:hover {
    -fx-background-color: #800000;
    -fx-border-color: #FFFFFF;
}
#rewindButton:hover,#forwardButton:hover,#minimizeButton:hover,#fullscreenButton:hover,#defaultButton:hover,#playButton:hover,.menu-item:hover {
    -fx-background-color: #404040;
    -fx-border-color: #FFFFFF;
}
.label {
    -fx-text-fill: #d8d8d8;
    -fx-font: 14px "Arial";
    -fx-opacity: 0.8;
}
.background {
    -fx-background-color: #1d1d1d;
}